.forms_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.forms_control label{
    margin-bottom: .6em;
    font-weight: bold;
}

.forms_control input {
    padding: .7em;
    border-radius: 0;
    border: none;
}

.forms_control input::placeholder{
    color: #7b7b7b;
}