.forms_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.forms_control label{
    margin-bottom: .6em;
    font-weight: bold;
}

.forms_control select {
    padding: .7em;
    border-radius: 0;
    border: none;
}

